body {
    margin: 0 auto;
    padding-top: 2px;
	padding: 0;
	color: #333;
	background: #000000 url("./images//background.jpg");
        z-index: 2;
        font-family: 'MorrisRoman', 'Franklin Gothic';
}
.center {
    display: block;
    min-width: 300px;
    max-width: 1300px;
    background-color: transparent;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    
}
@font-face {
    font-family: 'MorrisRoman';
    src: url(fonts/MorrisRomanBlack.ttf);
}
  .title-style {
        font-family: 'MorrisRoman', 'Franklin Gothic';
        font-size: 25px;
        font-weight: bold;
        color: white;
        text-align: center;
        margin: 0;
        padding: 0;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    }
